<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>My test page</title>
  </head>
  <body>

    <h1>{{ question.question_text }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
    <!-- {% csrf_token %} -->
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}"       value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    <input type="submit" value="Vote">
    </form>

    <form action="{% url 'polls:delete' question.id|safe %}" method="POST">
      <!-- {% csrf_token %} -->
      <input type="hidden" name="id" value="{{ question.id|safe }}" />
      <input type="submit" value="Delete question"/>
  </form> 

    <a href="{% url 'polls:index' %}">Back</a>

  </body>
</html>